<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunyao.myshiro.mapper.IpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kunyao.myshiro.entity.Ip">
        <id column="id" property="id" />
        <result column="ip_start" property="ipStart" />
        <result column="ip_end" property="ipEnd" />
        <result column="area" property="area" />
        <result column="operator" property="operator" />
        <result column="ip_start_num" property="ipStartNum" />
        <result column="ip_end_num" property="ipEndNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ip_start AS ipStart, ip_end AS ipEnd, area, operator, id, ip_start_num AS ipStartNum, ip_end_num AS ipEndNum
    </sql>

</mapper>
