<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunyao.myshiro.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kunyao.myshiro.entity.Permission">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="url" property="url" />
        <result column="code" property="code" />
        <result column="icon" property="icon" />
        <result column="type" property="type" />
        <result column="level" property="level" />
        <result column="state" property="state" />
        <result column="sort" property="sort" />
        <result column="remark" property="remark" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parent_id AS parentId, url, code, icon, type, level, state, sort, remark, version, create_time AS createTime, update_time AS updateTime
    </sql>

</mapper>
